fastapi[standard]
uvicorn[standard]
twilio
openai
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic
pytest
httpx
ruff
mypy
langchain
langchain-chroma
chromadb
langchain_openai
langchain_community
bs4
